In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from nltk.corpus import stopwords
from nltk.util import ngrams
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict
from collections import  Counter
plt.style.use('ggplot')
import nltk
nltk.download('stopwords')
stop=set(stopwords.words('english'))
# import gensim
import string
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from tqdm import tqdm
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense,SpatialDropout1D
from keras.initializers import Constant
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam

[nltk_data] Downloading package stopwords to /home/fajar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
# import os

In [23]:
train_df = pd.read_csv("raw_data/train.csv")
test_df = pd.read_csv("raw_data/test.csv")

In [24]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [25]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [28]:
train_df.shape

(7613, 5)

In [29]:
test_df.shape

(3263, 4)

In [43]:
# How many percentage nan data in every column in train_df
(train_df.isna().sum() / len(train_df)) * 100

id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

In [44]:
# How many percentage nan data in every column in test_df
(test_df.isna().sum() / len(test_df)) * 100

id           0.000000
keyword      0.796813
location    33.864542
text         0.000000
dtype: float64

In [53]:
train_df.nunique()

id          7613
keyword      221
location    3341
text        7503
target         2
dtype: int64

In [56]:
train_df.duplicated().sum()

0

In [57]:
train_df[train_df.duplicated(['text'])]

,id,keyword,location,text,target
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
115,165,aftershock,US,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/vA...,0
119,172,aftershock,Switzerland,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/TH...,0
164,238,airplane%20accident,NaN,Experts in France begin examining airplane deb...,1
624,898,bioterrorism,NaN,To fight bioterrorism sir.,0
630,907,bioterrorism,NaN,To fight bioterrorism sir.,1
634,916,bioterrorism,NaN,To fight bioterrorism sir.,0
1156,1665,bombing,Singapore,Japan on Thursday marks the 70th anniversary o...,1
1251,1807,buildings%20on%20fire,UK,#TweetLikeItsSeptember11th2001 Those two build...,1
1331,1922,burning%20buildings,"Mackay, QLD, Australia",Mmmmmm I'm burning.... I'm burning buildings I...,0
1332,1924,burning%20buildings,"St Charles, MD",I'm mentally preparing myself for a bomb ass s...,0
1335,1929,burning%20buildings,NaN,@fewmoretweets all lives matter. Just not a fa...,1
1343,1941,burning%20buildings,NJ,@themagickidraps not upset with a rally upset ...,1
1345,1943,burning%20buildings,"New Orleans ,Louisiana",Burning buildings? Media outrage? http://t.co/...,1
1349,1950,burning%20buildings,dallas,like for the music video I want some real acti...,0
1356,1957,burning%20buildings,"Madison, GA",@_minimehh @cjoyner I must be overlooking the ...,1
1360,1962,burning%20buildings,In Hell,Schools in Western Uganda still Burning down B...,1
1365,1968,burning%20buildings,"Epic City, BB.",I Pledge Allegiance To The P.O.P.E. And The Bu...,1
1623,2346,collapse,"Mumbai , India",Warne shocked over Australia's epic collapse a...,1
1725,2488,collided,"Peterborough, Ont.",#Newswatch: 2 vehicles collided at Lock and La...,1
2352,3387,demolition,NaN,General News Û¢åÊ'Demolition of houses on wat...,0
2441,3505,derailment,India,Madhya Pradesh Train Derailment: Village Youth...,1
2449,3517,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
2452,3520,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
2454,3522,derailment,India,Madhya Pradesh Train Derailment: Village Youth...,1
2456,3524,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
2477,3552,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
2655,3814,detonate,"Morioh, Japan",@spinningbot Are you another Stand-user? If yo...,0
2666,3828,detonate,"Morioh, Japan",@TinyJecht Are you another Stand-user? If you ...,0
2674,3836,detonate,"Morioh, Japan",@spinningbot Are you another Stand-user? If yo...,0
...,...,...,...,...,...
4834,6881,mass%20murder,Anonymous,http://t.co/c1H7JECFrV @RoyalCarribean do your...,1
5073,7231,natural%20disaster,NaN,Top insurer blasts lack of Australian Govt act...,1
5292,7559,outbreak,NaN,Families to sue over Legionnaires: More than 4...,1
5641,8044,refugees,NaN,wowo--=== 12000 Nigerian refugees repatriated ...,0
5665,8084,rescue,"Toronto, Ontario",UD: Rescue (Structural Collapse) - Scott Road ...,1
5720,8163,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
5723,8168,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
5734,8183,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
5771,8238,riot,Mumbai,Stuart Broad Takes Eight Before Joe Root Runs ...,0
6094,8702,sinking,NaN,that horrible sinking feeling when youÛªve be...,0
6103,8714,sinking,NaN,that horrible sinking feeling when youÛªve be...,0
6123,8739,sinking,MA,that horrible sinking feeling when youÛªve be...,1
6366,9098,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
6373,9107,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
6377,9113,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
6378,9114,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
6392,9135,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
6449,9225,suicide%20bombing,NaN,'Suicide bombing at [location named]...' #prem...,1
6616,9472,terrorism,Riyadh,In #islam saving a person is equal in reward t...,1
6656,9539,terrorist,MAD as Hell,RT AbbsWinston: #Zionist #Terrorist kidnapped ...,1
7026,10071,typhoon,NaN,abcnews - Obama Declares Disaster for Typhoon-...,1
7034,10080,typhoon,REPUBLICA DOMINICANA,(#LosDelSonido) Obama Declares Disaster for Ty...,1
7135,10220,volcano,"Hawaii, USA",USGS reports a M1.94 #earthquake 5km S of Volc...,1
7533,10771,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1
7537,10776,wreckage,India,Wreckage 'Conclusively Confirmed' as From MH37...,1
7600,10855,NaN,NaN,Evacuation order lifted for town of Roosevelt:...,1
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1

In [50]:
train_df_keyword_not_nan = train_df.loc[train_df['keyword'].isna() == False]

In [52]:
train_df_keyword_not_nan.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0